<main>
  <section class="productsContainer">
    <h3>{{product.title}}</h3>
    <p>SKU: {{product.code}}</p>
    
    <div class="product">
      <img src="{{product.thumbnail}}" alt="{{product.title}}">
      <p>CATEGORIA: {{product.category}}</p>
      <p>PRECIO: {{product.price}}</p>
      <p>STOCK: {{product.stock}}</p>
      <p>{{product.description}}</p>
    </div>
  </section>
</main>